<div class="page-content">
		<section class="px-3">
			<div class="row">
				<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-a0">
					<div class="login-slider">
						<div class="banner-login" style="background-image: url(images/registration/pic2.jpg)">
							<div class="banner-content">

								<h4 class="sub-title">Log in </h4>
								<h2 class="title">WelCome Back</h2>
								<p class="text">Sign back in to your account to access your courses and embody the art of being human.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-6 col-xl-6 col-lg-6 end-side-content justify-content-center">
					 <div class="login-area">
						<h2 class="text-secondary text-center">Forgot Password</h2>
						<p class="text-center m-b25">Enter your e-mail address below to reset your password.</p>
						<form method="post">
							<div class="m-b30">
								<label class="label-title">Email Address</label>
								<input name="email" required="" class="form-control" placeholder="Email Address" type="email">
							</div>
							<div class="d-flex justify-content-between">
								<a href="@Url.Action("Login","Auth")" class="btn btn-outline-secondary btnhover text-uppercase">Back</a>
                                <button type="submit" class="btn btn-secondary btnhover text-uppercase submit-btn">Submit</button>>
							</div>
						</form>
					</div> 
				</div>
				
			</div>
		</section>
	</div>
