@model ResetPasswordViewModel
<div class="page-content">
		<section class="px-3">
			<div class="row">
				<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-a0">
					<div class="login-slider">
						<div class="banner-login" style="background-image: url(images/registration/pic2.jpg)">
							<div class="banner-content">

								<h4 class="sub-title">Log in </h4>
								<h2 class="title">WelCome Back</h2>
								<p class="text">Sign back in to your account to access your courses and embody the art of being human.</p>
							</div>
						</div>
					</div>
				</div>
						<h2 class="text-secondary text-center">Reset Password</h2>
						<p class="text-center m-b25">Almost done, enter your new password and you're all set to go</p>
                        <form method="post" asp-action="ResetPassword" asp-controller="Auth">
    <input type="hidden" name="Token" value="@Model.Token" /> <!-- Token'ı gizli alan olarak ekleyin -->
    <p>Token :@Model.Token</p>
    
    <div class="m-b30">
        <label class="label-title">New Password</label>
        <div class="secure-input ">
            <input type="password" name="NewPassword" class="form-control dz-password" placeholder="New Password">
            <div class="show-pass">
                <i class="eye-open fa-regular fa-eye"></i>
            </div>
        </div>
    </div>

    <div class="m-b30">
        <label class="label-title">Confirm Password</label>
        <div class="secure-input ">
            <input type="password" name="ConfirmPassword" class="form-control dz-password" placeholder="Confirm Password">
            <div class="show-pass">
                <i class="eye-open fa-regular fa-eye"></i>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-secondary btnhover text-uppercase sign-btn">Reset Password</button>
    </div>
</form>

				
			</div>
		</section>
	</div>
