@model int
<div class="col-lg-5 col-md-6 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.5s">
									<div class="about-content">
										<h2 class="title">@Model</h2>
										<p class="text">Total Comments</p>
									</div>
								</div>