<div class="page-content">
		<!--Banner Start-->
		<div class="dz-bnr-inr" style="background-image:url(images/background/bg1.jpg);">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
							<li class="breadcrumb-item">Our Team</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
		<!--Banner End-->
		
		<section class="content-inner">
			<div class="container">
				<div class="row g-3 g-xl-4">
					<div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
						<div class="section-head ">
							<h2 class="title">Meet our team of creators, designers, and world-class problem solvers</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
							<a class="btn btn-secondary me-3" href="shop-registration.html">Join Our Team</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.2s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic1.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">John Doe</a></h2>
								<span>CEO & Founder</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic2.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">Ivan Mathews</a></h2>
								<span>iOS Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic3.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">Macauley Herring </a></h2>
								<span>Customer Success</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic4.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">Alya Levine</a></h2>
								<span>CTO </span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic5.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">Rose Hernandez </a></h2>
								<span>Backend Developer</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 box-hover">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="images/team/pic6.jpg" alt=""></a>
								<ul class="team-social-icon">
									<li><a href="https://www.linkedin.com/in/dexignzone/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="https://www.instagram.com/dexignzone/" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.facebook.com/dexignzone" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								</ul>
							</div>
							<div class="dz-content">
								<h2 class="title"><a href="our-team.html">Elen Benitez </a></h2>
								<span>Designer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Newsletter Start-->
		<section class="content-inner-3  overflow-hidden position-relative border-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="section-head style-2 d-block wow fadeInUp" data-wow-delay="0.2s">
							<h2 class="title mb-4">Subscribe Newsletter & Get Plant News</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 m-b30 wow fadeInUp" data-wow-delay="0.4s">
						<form class="dzSubscribe style-2" action="script/mailchamp.php" method="post">
							<div class="dzSubscribeMsg"></div>
							<div class="form-group">
								<div class="input-group mb-0">
									<input name="dzEmail" required="required" type="email" class="form-control h-70" placeholder="Your Email Address">
									<div class="sub-btn">
										<button name="submit" value="Submit" type="submit" class="btn btn-secondary">Subscribe Now</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	<!-- Newsletter End -->
	
	</div>	
	