<div class="page-wraper">
	<div id="loading-area" class="loading-page-1">
		<div class="text"><span class="text-primary">Plant</span>Zone</div>
	</div>

	<div class="page-content">

		<section class="px-3 overflow-hidden bg-darklight">
			<div class="container">
				<div class="row under-construct align-items-center">
					<div class="col-xxl-6 col-xl-6 col-lg-6 construct-box-1 single-page">
						<div class="dz-content">
							<div class="dz-media-title">Oops!</div>
							<h2 class="dz-title">Under Construction</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
							<a href="index.html" class="btn btn-outline-secondary ">Back To Home Page</a>
						</div>
					</div>
					<div class="col-xxl-6 col-xl-6 col-lg-6 construct-box-2 m-b30">
						<div class="construct-media">
							<img src="images/registration/pic1.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
		<!-- Footer -->
		<footer class="site-footer">
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row fb-inner wow fadeInUp p-3" data-wow-delay="0.1s">
						<div class="col-lg-12 col-md-12 text-center"> 
							<p class="copyright-text">© <span class="current-year">2024</span> <a href="https://www.dexignzone.com/">DexignZone</a> Theme. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom End -->
		</footer>
		<!-- Footer End -->	
</div>
