@model int
<li class="nav-item cart-link">
									<a href="javascript:void(0);" class="nav-link cart-btn" data-bs-toggle="offcanvas"
										data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
										<i class="iconly-Broken-Buy"></i>
										<span id="cartCount" class="badge badge-circle">@Model</span>
									</a>
								</li>